#submitField{
	width: 30vw;
	position: absolute;
	left: -6vw;
	top: -3vh;
	font-size: 20pt;
	padding-left: 1vw;
	border-radius: 10px;
}
#submitButton{
	margin-left: 165%;
	position: relative;
	bottom: 2vh;
	margin-bottom: 140%;
}
#search-div{
	position: absolute;
	 top:40%;
	 left:40%;
}

#info{
	position: absolute;
	margin-top: 48%;
	margin-left: 40%;
}
#params{
	position: absolute;
	 top:50%;
	 left:32%;
}

#params2{
	position: absolute;
	 top:60%;
	 left:32%;
}

#params3{
	position: absolute;
	 top:70%;
	 left:32%;
}

#params4{
	position: absolute;
	 top:80%;
	 left:32%;
}
#logo{
	color: black;
	float: left; 
	font-family: Courier; 
	font-size: 30px;
	text-decoration: none;
	margin: 1%;
}
#out{
	position: absolute;
	right: 3vw;
	top: 1vh;
	width:8vw;
	height: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#in{
	position: absolute;
	right: 3vw;
	top: 1vh;
	width:8vw;
	height: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.upper{
	text-decoration: none;
	font-size: 2.5vh;
}
#profile{
	color: black;
	margin-left: -30%;
	padding: 4%;

}
#logout{
	color: black;
	margin-left: -25%;
	padding: 4%;
}
#login{
	color: black;
	margin-left: -30%;
	padding: 4%;

}
#register{
	color: black;
	margin-left: -25%;
	padding: 4%;
}
#info{
	position: absolute;
	left: 0vw;
	bottom: 10vh;
}
#motto{
	font-size: 60pt;
	position: absolute;
	top: 8vh;
	left: 32vw;
}
#container{
	border-color: #49669D;
	border-style: solid;
	border-radius: 2vw;
	background-color: #F0F0F0;
	height: 50vh;
	width: 40vw;
	position: absolute;
	top: 35vh;
	left: 28.5vw;
	
}