.form{
	margin-left: 40%;
	margin-top: 10%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	position: absolute;
	z-index: 3;
	float:left;
	height: 25%;
	width: 15%;
	border-radius: 15px;
	background-color: rgb(140, 140, 140, .6);
	color: white;
}
.logo{
	margin-left: 1%;
	margin-top: 1%;
	font-size: 30px;
}