.submit-div {
	position: absolute;
	top:40vh;
	left:45vw;
	right:20vw;
}
#submitField {
	position:fixed;
	top:38vh;
	width:30vw;
	left:41.5vw;
}
.params {
	position:absolute;
	top:10vh;
	left:0;
	right:0;
	align: left;
}
#params{
	position: absolute;
	 top:50%;
	 left:20%;
}

#params2{
	position: absolute;
	 top:60%;
	 left:20%;
}

#params3{
	position: absolute;
	 top:70%;
	 left:20%;
}

#params4{
	position: absolute;
	 top:80%;
	 left:20%;
}




